<div class="container row">
<div class="col-lg-3"></div>
<form *ngIf="updateInfo" class="col-lg-6">
  <h2 class="text-center"> Update User </h2>

  <div class="form-group">
    <label> First Name </label>
    <input type="text" name="first_name" [(ngModel)]="updateInfo.first_name" class="form-control" />
  </div>

  <div class="form-group">
    <label> Last Name </label>
    <input type="text" name="last_name" [(ngModel)]="updateInfo.last_name" class="form-control" />
  </div>

  <div class="form-group">
    <label> Email </label>
    <input type="text" name="email" [(ngModel)]="updateInfo.email" class="form-control" />
  </div>

  <div class="form-group">
    <label> User name </label>
    <input type="text" name="username" [(ngModel)]="updateInfo.username" class="form-control"/>
  </div>

  <div class="form-group">
    <label> Phone </label>
    <input type="text" name="phone" [(ngModel)]="updateInfo.phone" class="form-control"/>
  </div>

  <div class="form-group">
    <label> Salary </label>
    <input type="text" name="salary" [(ngModel)]="updateInfo.salary" class="form-control"/>
  </div>

  <div class="form-group">
    <label> Money </label>
    <input type="text" name="money" [(ngModel)]="updateInfo.money" class="form-control"/>
  </div>

  <div class="form-group">
    <label> Location </label>
    <input type="text" name="location" [(ngModel)]="updateInfo.location" class="form-control"/>
  </div>

  <div class="form-group">
    <label> Image </label>
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" class="form-control"/>
  </div>

  <button type="button" (click)="update()" class="btn btn-block btn-success">Update</button>
  <button type="button" name="button" class="btn btn-block btn-info" routerLink="/user/{{updateInfo._id}}">Back Profile</button>

</form>
<div class="col-lg-3"></div>
</div>
