html{
  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
}

button{
  padding: 10px;
}

.container{
  width: 85%;
  margin:0 auto;
}

.project{
  border: 1px solid green;
  width: 33%;
  float: left;
}
