<form>
  <h2> New Expenses </h2>

  <label> Name </label>
  <input type="text" [(ngModel)]="debtInfo.name" name="name"/>
  <br><br>

  <label> Quantity </label>
  <input type="text" [(ngModel)]="debtInfo.quantity" name="quantity"/>
  <br><br>

  <!-- <label> Monthly </label>
  <input type="radio" [(ngModel)]="expensesInfo.fin" name="monthly"/>
  <br><br> -->

  <label> Finaly </label>
  <input type="date" [(ngModel)]="debtInfo.finaly" name="finaly"/>
  <br><br>

  <button type="button" (click)="create()"> Create project </button>
</form>
