<form *ngIf="!user">
  <h2> Signup </h2>

  <label> First Name </label>
  <input type="text" [(ngModel)]="signupInfo.first_name" name="first_name"/>
  <br><br>

  <label> Last Name </label>
  <input type="text" [(ngModel)]="signupInfo.last_name" name="last_name"/>
  <br><br>

  <label> Email </label>
  <input type="text" [(ngModel)]="signupInfo.email" name="email"/>
  <br><br>

  <label> User name </label>
  <input type="text" [(ngModel)]="signupInfo.username" name="username"/>
  <br><br>

  <label> Password </label>
  <input type="password" [(ngModel)]="signupInfo.password" name="password"/>
  <br><br>

  <button (click)="signup()"> signup </button>
</form>
