<form>
  <h2> New Expenses </h2>

  <label> Name </label>
  <input type="text" [(ngModel)]="expensesInfo.name" name="name"/>
  <br><br>

  <label> Company </label>
  <input type="text" [(ngModel)]="expensesInfo.company" name="company"/>
  <br><br>

  <label> Quantity </label>
  <input type="text" [(ngModel)]="expensesInfo.quantity" name="quantity"/>
  <br><br>

  <label> Type </label>
  <select type="select" [(ngModel)]="expensesInfo.type" name="type">
    <option value="transport">Transport</option>
    <option value="purchase">Purchase</option>
    <option value="online">Online</option>
    <option value="ocio">Ocio</option>
  </select>
  <br><br>





  <button type="button" (click)="create()"> Create project </button>
</form>
