button{
  font-size: 16px;
}

.navbar-inverse{
  background-color:#71d1f0 ;
}

.navbar a{
  color: #03304e;
  border: none;
}

.userDate img{
  width: 50%;
  border-radius: 50%;
}

.dateprofile{
  font-size: 18px;
  padding: 20px;
}
