<div *ngIf="user">
  <button type="submit" (click)=logout() name="button">Logout</button>

  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/edit">EDIT</a>
  </button>

  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/project">Project</a>
  </button>

  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/expenses">Expenses</a>
  </button>

  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/debt">Debt</a>
  </button>
  <h3>Saldo actual {{user.salary}} </h3>
  <div class="userDate">
    <p>First name : <strong>{{user.first_name}}</strong></p>
    <p>Last name : <strong>{{user.last_name}}</strong></p>
    <p>Email : <strong>{{user.email}}</strong></p>
    <p *ngIf="user.phone">phone : <strong>{{user.phone}}</strong></p>
    <p *ngIf="user.address">adress : <strong>{{user.address}}</strong></p>
    <p *ngIf="user.salary">salary : <strong>{{user.salary}}</strong></p>
  </div>
  <router-outlet></router-outlet>
</div>
