<div *ngIf="user ">
  <button type="submit" (click)=logout() name="button">Logout</button>
  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/form/edit">EDIT</a>
  </button>
  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/form/project">Project</a>
  </button>
  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/form/expenses">Expenses</a>
  </button>
  <button type="button" name="button">
    <a routerLink="/user/{{user._id}}/form/debt">Debt</a>
  </button>

  <h3>Saldo actual {{total}} </h3>
  <div class="userDate">
    <img src="http://localhost:3000/{{user.image}}" alt="">
    <p>First name : <strong>{{user.first_name}}</strong></p>
    <p>Last name : <strong>{{user.last_name}}</strong></p>
    <p>Email : <strong>{{user.email}}</strong></p>
    <p *ngIf="user.phone">phone : <strong>{{user.phone}}</strong></p>
    <p *ngIf="user.address">adress : <strong>{{user.address}}</strong></p>
    <p *ngIf="user.location">location : <strong>{{user.location}}</strong></p>
    <img src="localhost:3000/{{user.location}}" alt="">
  </div>
  <div *ngIf="project">
    <div *ngFor="let e of project | slice:0:3, let i = index" class="project">
        <p>{{e.name}}</p>
        <p>{{e.description}}</p>
    </div>
  </div>
  <a routerLink="/user/{{user._id}}/list">Project List</a>
<br><br><br><br><br>
  <div *ngIf="expenses">
    <div *ngFor="let p of expenses | slice:0:3, let m = index" class="project">
        <p>expenses {{m}}</p>
        <p>{{p.name}}</p>
        <p>{{p.quantity}}</p>
    </div>
  </div>
  <a routerLink="/user/{{user._id}}/listExp">Expenses List</a>
<br><br><br><br>
  <div *ngIf="debts">
    <div *ngFor="let s of debts | slice:0:3, let j = index" class="project">
        <p>debt {{j}}</p>
        <p>{{s.name}}</p>
        <p>{{s.quantity}}</p>
    </div>
  </div>
  <a routerLink="/user/{{user._id}}/listDebt">Debt List</a>

<br><br><br>
</div>
